nios2_no*/
output_files/
incremental_db/
db/*.txt
db/*.cdb
db/*.rdb
db/*.hdb
db/*.sci
db/*.hif
db/*.bpm
db/*.kpt
db/*.logdb
db/*.hsd
db/*.v
db/*.qmsg
db/*.idb
db/*.hier_info
db/*.tdb
db/*.tmw_info
db/*.ipinfo
PLLJ_PLLSPE_INFO.txt

*.rpt
*.cmp
*.html
*.sopcinfo
*.bsf
*.db_info
*.rdr.flock
*.qws
*.xml
*.ddb
*.ammdb
*.dat
*.tdf
*.bak

